node_modules
.git
.gitignore
README.md
docs
storage/logs/*
storage/sessions/*
storage/temp/*
public/assets/uploads/*
!storage/logs/.gitkeep
!storage/sessions/.gitkeep
!storage/temp/.gitkeep
!public/assets/uploads/.gitkeep
