APP_NAME=Âncora
APP_URL=https://ancora.serratech.tec.br
APP_TIMEZONE=America/Sao_Paulo
DEFAULT_MODULE=propostas

DB_CONNECTION=pgsql
DB_HOST=postgres-ancora
DB_PORT=5432
DB_DATABASE=ancora
DB_USERNAME=ancora
DB_PASSWORD=troque-esta-senha
DB_CHARSET=utf8

MAIL_FROM_NAME=Âncora
MAIL_FROM_EMAIL=contato@serratech.tec.br
